<h1>Listing zencontrollers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zencontrollers.each do |zencontroller| %>
      <tr>
        <td><%= link_to 'Show', zencontroller %></td>
        <td><%= link_to 'Edit', edit_zencontroller_path(zencontroller) %></td>
        <td><%= link_to 'Destroy', zencontroller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zencontroller', new_zencontroller_path %>
